version: '3.5'
services:
  news-app:
    build: src/main/java/com/ruslan/news
    command: ./news-app
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - DB_PASSWORD=postgres
  db:
  restart: always
  image: postgres:latest
  volumes:
      - ./.database/postgres/data:/var/lib/postgresql/data
  environment:
      - POSTGRES_DB=news
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  ports:
      - 5436:5432

