version: '3.5'
services:
  db_auth:
    container_name: news_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=admin

    image: postgres:14.3-alpine
