version: "4.15.0"
services:
  postgres:
    image: postgres:9.6
    environment:
      POSTGRES_DB: "news"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "admin"
      PGDATA: "/var/lib/postgresql/data/pgdata"
        volumes:
          - ../2. Init Database:/docker-entrypoint-initrd.d
          - .:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always
  app:
    image: app
    depends_on:
      - postgres
    ports:
      - 8080:8080
    restart: always

